<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension id="ptgennature" name="PTGenNature" point="org.eclipse.core.resources.natures">
      <runtime>
         <run class="org.fuin.eclipse.ptgen.PTGenNature" />
      </runtime>      
      <builder id="org.fuin.eclipse.ptgen.ptgenbuilder"/> 
	</extension>

   <extension id="ptgenbuilder" name="PTGenBuilder" point="org.eclipse.core.resources.builders">
      <builder hasNature="true">
         <run class="org.fuin.eclipse.ptgen.ParameterizedTemplateGeneratorBuilder" />
      </builder>
   </extension>

</plugin>