<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension id="ptgennature" name="PTGenNature" point="org.eclipse.core.resources.natures">
      <runtime>
         <run class="org.fuin.ptgen.PTGenNature" />
      </runtime>      
      <builder id="org.fuin.ptgen.plugin.ptgenbuilder" /> 
    </extension>

   <extension id="ptgenbuilder" name="PTGenBuilder" point="org.eclipse.core.resources.builders">
      <builder hasNature="true">
         <run class="org.fuin.ptgen.PTGenBuilder" />
      </builder>
   </extension>

</plugin>